menu "BL0937"

    config BL0937_DEFAULT_SAMPLE_MS
        int "Default sample interval (ms)"
        default 1000
        help
            Default time window used by the example and as a convenience default.

    config BL0937_DEFAULT_EMA_ALPHA_V
        int "Default EMA alpha (voltage) x1000"
        range 0 1000
        default 200
        help
            EMA alpha as fixed-point value (alpha * 1000).
            Example: 0.200 -> 200

    config BL0937_DEFAULT_EMA_ALPHA_I
        int "Default EMA alpha (current) x1000"
        range 0 1000
        default 200

    config BL0937_DEFAULT_EMA_ALPHA_P
        int "Default EMA alpha (power) x1000"
        range 0 1000
        default 200

endmenu
